* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.bg-container-1 {
    background-image: url("https://ik.imagekit.io/ptqmbn76x/cyber-technology-security-network-protection-design-free-vector.webp?updatedAt=1680593637688");
    width: 100vw;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
}

.head-edit {
    color: white;
    margin-left: 60px;
    padding: 25px;

}

.nav-edit {
    background-color: #fafcfc;
    font-size: 20px;
    height: 100px;
    width: 100vw;
    display: flex;
    align-items: center;
    gap: 50px;
    position: fixed;
    transition: 2s ease;
}

.nav-edit a {
    text-decoration: none;
    color: black;
}

.nav-edit a:hover {
    font-size: 30px;
    color: #fafcfc;
    background-color: black;
}


.img1 {
    height: 100px;
    width: 120px;
    margin-left: 50px;
}

.para-edit {
    color: white;
    font-size: 20px;
}

.para-contain {
    width: 600px;
    padding: 25px;
    /* border: 2px solid white; */
    margin-left: 60px;
    line-height: 30px;

}

.btn-edit1 {
    background-color: skyblue;
    height: 50px;
    width: 130px;
    border-radius: 10px;
    color: white;
    /* margin: 25px; */
    margin-left: 85px;
    cursor: pointer;
}

.btn-edit2 {
    background-color: rgb(251, 4, 4);
    height: 50px;
    width: 130px;
    border-radius: 10px;
    color: white;
    margin-bottom: 25px;
    margin-left: 85px;
    cursor: pointer;
}

.bg-container-2 {
    background-color: #7961ab;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
}

.second-sec-card {

    display: inline-block;
    padding: 20px;
    width: 35%;
    margin: 80px;
}

.second-sec-card img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.second-sec-card h2 {
    color: white;
    font-family: Roboto;
    padding: 20px;
    font-size: 30px;
    transition: 3s ease-in-out;
}

.second-sec-card h2:hover{
    text-decoration: underline;
}

.second-sec-card p {
    color: white;
    font-family: Roboto;
    padding: 10px;
    font-size: 20px;
}
.third-sec-card{
    background-color: azure;
    border: 1px solid black;
    width: 20%;
    height: 300px;
}
.icon-edit{
    font-size: 25px;
}